{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}
    <title>Gaming Compendium</title>
    {% endblock %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'game_library/css/styles.css' %}" />
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light">
      <div class="container-fluid">
        <h3>
          <strong>Gaming Compendium | </strong>
        </h3>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'games' %}"
                id="navbar_item"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'randomgame' %}" id="navbar_item"
                >Random Game</a
              >
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" id="navbar_item"
                  >Logout</a
                >
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register_user' %}" id="navbar_item"
                  >Register</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" id="navbar_item"
                  >Login</a
                >
              </li>
            {% endif %}
          </ul>
          {% block search %}
          {% endblock %}
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
  </body>
  <footer>
    <strong>@2024 Gaming Compendium | Reference: </strong>
    <a class="base_link" href="https://howlongtobeat.com/">How Long To Beat</a>
    <a class="base_link" href="https://www.metacritic.com/game/">Metacritic</a>
  </footer>
</html>
