{% extends "game_library/base.html" %}
{% load static %}

{% block content %}

{% comment %} Sidebar {% endcomment %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" id="sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <span class="fs-5 d-none d-sm-inline">Filters</span>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <form method="GET" action=".">
                        <hr/>
                        <div class="form-group col-md-4">
                            <label for="genre">Genre:</label>
                            <select id="genre" class="form-control" name="genre">
                              <option selected>Choose...</option>
                              {% for genre in genre_list %}
                              <option value="{{ genre }}">{{ genre }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <hr/>
                        <div class="form-group col-md-4">
                            <label for="developer">Developer:</label>
                            <select id="developer" class="form-control" name="developer">
                              <option selected>Choose...</option>
                              {% for developer in developer_list %}
                              <option value="{{ developer }}">{{ developer }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <hr/>
                        <div class="form-group col-md-4">
                            <label for="platform">Platform:</label>
                            <select id="platform" class="form-control" name="platform">
                              <option selected>Choose...</option>
                              {% for platform in platform_list %}
                              <option value="{{ platform }}">{{ platform }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <hr/>
                        <div class="form-group col-md-4">
                            <label for="players">Players:</label>
                            <select id="players" class="form-control" name="players">
                              <option selected>Choose...</option>
                              <option value="Singleplayer">Singleplayer</option>
                              <option value="Multiplayer">Multiplayer</option>
                              <option value="Both">Both</option>
                            </select>
                        </div>
                        <hr/>
                        <div class="form-group col-md-2 col-lg-2">
                            <label for="view_rating_min">Minimum Rating</label>
                            <input type="decimal" min=0 class="form-control" id="view_rating_min" placeholder="0" name="min_rating">
                        </div>
                        <hr/>
                        <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="completed" name="completed">
                              <label class="form-check-label" for="completed">Completed</label>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="incomplete" name="incomplete">
                              <label class="form-check-label" for="incomplete">Incomplete</label>
                            </div>
                          </div>
                        <hr/>
                        <button type="submit" class="btn btn-info">Apply Filters</button>
                    </form>
                </ul>
            </div>
        </div>
        <div class="col py-3" id="game_library">
            {% comment %} Game List Display {% endcomment %}
            {% for game in game_list %}
            <div class="accordion">
                <div class="accordion-item bg-warning">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
                        {{game.title}} | Rating: {{game.rating}} | Singleplayer or Multiplayer: {{game.player}} | Completed: {{game.is_complete}}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse{{ forloop.counter }}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <ul>
                                <li id="details"><strong>Description:</strong> {{game.description}}</li>
                                <li id="details"><strong>Genre:</strong> {{game.genre.all|join:", " }}</li>
                                <li id="details"><strong>Developer:</strong> {{game.developer}}</li>
                                <li id="details"><strong>Time to Beat</strong> {{game.time_to_beat}}</li>
                                <li id="details"><strong>Platform:</strong> {{game.platform.all|join:", " }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
