{% extends "game_library/base.html" %}
{% load static %}

{% block content %}

{% comment %} Sidebar {% endcomment %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <span class="fs-5 d-none d-sm-inline">Filters</span>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <form method="GET" action=".">
                        <hr/>
                        <div class="form-group col-md-4">
                            <label for="genre">Genre:</label>
                            <select id="genre" class="form-control" name="genre" style="width: 150px;">
                              <option selected>Choose...</option>
                              {% for genre in genre_list %}
                              <option value="{{ genre }}">{{ genre }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <hr/>
                        <div class="form-group col-md-4">
                            <label for="developer">Developer:</label>
                            <select id="developer" class="form-control" name="developer" style="width: 150px;">
                              <option selected>Choose...</option>
                              {% for developer in developer_list %}
                              <option value="{{ developer }}">{{ developer }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <hr/>
                        <div class="form-group col-md-4">
                            <label for="platform">Platform:</label>
                            <select id="platform" class="form-control" name="platform" style="width: 150px;">
                              <option selected>Choose...</option>
                              {% for platform in platform_list %}
                              <option value="{{ platform }}">{{ platform }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <hr/>
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </form>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            {% comment %} Game List Display {% endcomment %}
            {% for game in game_list %}
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
                        {{game.title}} | Rating: {{game.rating}} | Singleplayer or Multiplayer: {{game.player}}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse{{ forloop.counter }}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <ul>
                                <li><strong>Description:</strong> {{game.description}}</li>
                                <li><strong>Genre:</strong> {{game.genre.all|join:", " }}</li>
                                <li><strong>Developer:</strong> {{game.developer}}</li>
                                <li><strong>Time to Beat</strong> {{game.time_to_beat}}</li>
                                <li><strong>Platform:</strong> {{game.platform.all|join:", " }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
