{% extends "game_library/base.html" %}
{% load static %}

{% block content %}

{% comment %} Sidebar {% endcomment %}
<link rel="stylesheet" href="{% static 'random_game_selector/css/styles.css' %}" />

<div class="container">
    <div class="center">
        <button class="text">{{ formatted_random_game_string }}</button>
    </div>
</div>
<div class="container-img">
    <div class="center">
        <img src={{ random_game_image_url }} height="720" width="1280">
    </div>
</div>
<div class="container">
    <div class="center">
        <form class="d-flex" role="search">
            <button class="btn btn-info" type="submit">New Random Game</button>
          </form>
    </div>
</div>
{% endblock %}